/* ========================================================================================================================================================
BASE
======================================================================================================================================================== */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto; */
}
/* ========================================================================================================================================================
header
======================================================================================================================================================== */
.header-nav {
}
.header-link-logo {
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
  color: #111;
}
/* ========================================================================================================================================================
HERO
======================================================================================================================================================== */
.hero {
}
.hero-title {
}
.hero-bnt {
}
.hero-text {
}
/* ========================================================================================================================================================
benefits
======================================================================================================================================================== */
.benefits {
}
.benefits-list {
}
.benefits-item {
}
.benefits-title {
}
.benefits-text {
}
/* ========================================================================================================================================================
ingredients
======================================================================================================================================================== */
.ingredients {
}
.ingred-title {
}
.ingred-text {
}
.ingred-list {
}
.ingred-item {
}
.ingred-image {
}
.ingred-decr {
}
/* ========================================================================================================================================================
how its made
======================================================================================================================================================== */
.made {
}
.made-title {
}
.made-image {
}
.made-subtitle {
}
.made-list {
}
.made-item {
}
.made-text {
}
/* ========================================================================================================================================================
reviews
======================================================================================================================================================== */
.reviews {
}
.reviews-title {
}
.reviews-list {
}
.reviews-item {
}
.reviews-image {
}
.reviews-subtitle {
}
.reviews-text {
}
.reviews-btn {
}
/* ========================================================================================================================================================
footer
======================================================================================================================================================== */
.footer-page {
}
.footer-text {
}
.footer-address {
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-text {
}
.footer-address-link {
}
.footer-nav {
}
.footer-nav-list {
}
.footer-nav-item {
}
.footer-nav-link {
}
